{% extends BASE_TEMPLATE %}
{% load i18n %}
{% load static %}

{% block customCSS %}
    <link rel="stylesheet" href="{% static 'css/verification_code.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/django-appointment.css' %}"/>
{% endblock %}

{% block title %}{% trans 'Enter Verification Code' %}{% endblock %}
{% block description %}{% trans 'Enter Verification Code' %}{% endblock %}

{% block body %}
    <div class="vcode-container">
        <div class="vcode-card">
            <h1 class="vcode-title">{% trans 'Enter Verification Code' context "DJA Client Verification" %}</h1>
            <p class="vcode-instruction">{% trans 'A verification code has been sent to your email.' context "DJA Client Verification" %}</p>

            <form method="post" class="vcode-form">
                {% csrf_token %}
                <div class="vcode-input-group">
                    <label for="verification-code" class="vcode-label">{% trans 'Code' %}:</label>
                    <input type="text" id="verification-code" name="code" class="vcode-input" required>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <div class="vcode-alert vcode-alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <button type="submit">{% trans 'Submit' %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block customJS %}
{% endblock %}