{% extends "core/mail/base.html" %}    

{% load static %}
{% load i18n %}
{% load core_extras %}

{% block content %}
    <br>
    <p style="line-height: 150%;">
        <span style="color: rgb(158, 127, 94); line-height: 24px;">
            {% blocktranslate with site_name=site_name context "Account Activation" %}Welcome on {{ site_name }}.{% endblocktranslate %}
        </span>
    </p>
    <br>
    <p style="line-height: 150%;"><span style="color: rgb(158, 127, 94); line-height: 24px;">{% translate "Please click the following link to set a new password and activate your acccount :" context "Account Activation" %}</span></p>
    <p style="line-height: 150%;"><span style="color: rgb(158, 127, 94); line-height: 24px;"><a href="{{ protocol }}://{{ domain }}{% url 'activate-account' token=token %}">{% translate "Activate my account" context "Account Activation" %}</a></span></p>
    <br>
    <p style="line-height: 150%;"><span style="color: rgb(158, 127, 94); line-height: 24px;">{% translate "Reminder : You can always ask for a new password using forgotten password link on login pages." context "Account Activation" %}</span></p>
    <br>
{% endblock %}