{% extends "core/components/base.html" %}

{% load i18n %}

{% block content %}
<section>
    {% if form.errors %}
        <div class="fielderror-item">{% translate 'Your username and password did not match. Please try again.' context 'User Login' %}</div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <div class="fielderror-item">{% translate 'You do not have sufficient privilege to perfom this action.' context 'User Login' %}</div>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" value="{% translate 'login' context 'User Login' %}">
    </form>

    {# Assumes you set up the password_reset view in your URLconf #}
    <p><a class="button" href="{% url 'password_reset' %}">{% translate 'Lost password?' context 'User Login' %}</a></p>
</section>
{% endblock %}