{% extends "core/components/base.html" %}

{% load i18n %}

{% block content %}
<section>
    <h1>{% translate "Password reset" %}</h1>

    <p>
        {% translate "Enter your email address below, and we'll email instructions for setting a new password." context "Change Password" %}
    </p>

    {% for field in form %}
        {% for error in field.errors %}
            <div class="fielderror-item">{{field.label_tag}} {{ error }}</div>
        {% endfor %}
    {% endfor %}
    
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <button type="submit">
            {% translate "Submit" context "Change Password" %}
        </button>
    </form>
</section>
{% endblock %}