{% extends "core/mail/base.html" %}    

{% load static %}
{% load i18n %}
{% load core_extras %}

{% block content %}
    <br>
    <p style="line-height: 150%;">
        <span style="color: rgb(158, 127, 94); line-height: 24px;">
            {% blocktranslate with site_name=site_name context "Change Password" %}You requested a password reset for your account on {{ site_name }}.{% endblocktranslate %}
        </span>
    </p>
    <br>
    <p style="line-height: 150%;"><span style="color: rgb(158, 127, 94); line-height: 24px;">{% translate "Please click the following link to set a new password:" context "Change Password" %}</span></p>
    <p style="line-height: 150%;"><span style="color: rgb(158, 127, 94); line-height: 24px;"><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% translate "Reset my password" context "Change Password" %}</a></span></p>
    <br>
    <p style="line-height: 150%;"><span style="color: rgb(158, 127, 94); line-height: 24px;">{% translate "This link will expire after a certain period of time." context "Change Password" %}</span></p>
    <br>
    <p style="line-height: 150%;"><span style="color: rgb(158, 127, 94); line-height: 24px;">{% translate "If you did not request a password reset, you can safely ignore this email." context "Change Password" %}</span></p>
    <br>
{% endblock %}