{% extends "core/components/base.html" %}

{% block meta_title %}{{page.meta_title}}{% endblock %}
{% block meta_description %}{{page.meta_description}}{% endblock %}
{% block meta_keywords %}{{page.meta_keywords}}{% endblock %}
{% block meta_robots %}{% if page.meta_robots %}<meta name="robots" content="{{page.meta_robots}}">{% endif %}{% endblock %}

{% block content %}
    {% load static %}
    {% load i18n %}

    {% if bundles %}
    {% translate "Our available bundles" context "Product List" as main_title %}
    {% include "core/components/product_tiles.html" with section_title=main_title h_val=1 products=bundles product_type="bundle" %}
    {% endif %}
{% endblock %}