{% extends "core/components/base.html" %}

{% block title %}Page principale{% endblock %}

{% block content %}
    {% load static %}
    {% load i18n %}

    {% translate "Our available massages :" context "Main page" as main_title %}
    {% include "core/components/massage_tiles.html" with section_title=main_title h_val=1 %}

    {%if practices.count > 1 %}
        <!-- Multiple practice case -->
    {% else %}
        {% with practice_object=practices.first %}
            {% include "core/components/practice_detail.html" %}
            <!-- GMAP Embbed + Openings -->
            {% include "core/components/practice_infos.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}