{% extends "core/components/base.html" %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
    <header>
        <p><a href="https://www.economie.gouv.fr/entreprises/innover-et-numeriser-son-entreprise/mentions-sur-votre-site-internet-les-obligations">https://www.economie.gouv.fr/entreprises/</a></p>
        <p>TODO : </p>
        <ul>
            <li>Nom et prénom</li>
            <li>Adresse domiciliation, courrier electronique/ou tel entreprise</li>
            <li>Propriété intellectuelle</li>
            <li>infos Hébergeur, raison sociale, nom addresse num tel</li>

            <li>numéro RCS/RNE, TVA intra communautaire le cas échéant (si applicable)</li>
            <li>CGV</li>
        </ul>
    </header>
{% endblock %}