{% extends "core/components/base.html" %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
    <header>
        <h1>Mentions Légales</h1>
        <h2>Société</h2>
        <p>Le site Internet mi-time.fr est édité par Mireille CAZORLA (EI, SIREN 988 322 434) assumant de fait le rôle de directrice de la publication</p>
        <p>Le siège social est situé au 1037, Avenue du Pic Saint-Loup, 34900 MONTPELLIER</p>

        <h2>Hébergement</h2>
        <p>Ce site est hébergé par OVH (SAS) domiciliée au 2 rue Kellermann, 59100 ROUBAIX, FRANCE</p>
        
        <h2>Conditions générales de vente (CGV)</h2>

    </header>
{% endblock %}