{% extends "core/components/base.html" %}

{% block meta_title %}{{page.meta_title}}{% endblock %}
{% block meta_description %}{{page.meta_description}}{% endblock %}
{% block meta_keywords %}{{page.meta_keywords}}{% endblock %}

{% block content %}
    {% load static %}
    {% load i18n %}

    {% if massages %}
    {% translate "Our available massages" context "Product List" as main_title %}
    {% include "core/components/product_tiles.html" with section_title=main_title h_val=1 products=massages product_type="massage" %}
    {% else %}
    <p>{% translate "We are currently polishing our offer. Come back soon to see what we have cooked for you !" context "Product Tiles" %}</p>
    {% endif %}
    
{% endblock %}