{% extends "core/components/base.html" %}

{% block title %}Mi-time {{practice.name}}{% endblock %}

{% block content %}
    {% load static %}

    <header>
        <h1>{{practice.name}}</h1>
    </header>
    {% if massages %}
    <h1>Nos massages :</h1>
    <section class="tiles">
        {% for massage in massages %}
        <article class='{{massage.highlighted|yesno:"highlighted,default"}}'>
            <span class="image">
                <img src="{{massage.cover.url}}" alt="{{massage.name}}" />
            </span>
            <a href="https://calendly.com/reservation-mi-time/le-privilege">
                <h2>{{massage.name}}</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p></p>
                </div>
            </a>
        </article>
        {% endfor %}
    </section>
    {% endif %}
    
{% endblock %}