{% extends "core/components/base.html" %}

{% block title %}Mi-time : nos salons{% endblock %}

{% block content %}
    <header>
        {% if practices|length == 1 %}
        <h1>Mi-Time : Le salon !</h1>
        {% elif practices|length > 1 %}
        <h1>Mi-Time : Nos salons !</h1>
        {% endif %}
    </header>
    <section>
        {% for practice in practices %}
        <p><a href="{% url 'practice' practice_slug=practice.slug %}">{{practice}}</a></p>
        {% endfor %}
    </section>
{% endblock %}