{% extends "core/components/base.html" %}
{% load i18n %}
{% load static %}

{% block meta_title %}{{practice.meta_title}}{% endblock %}
{% block meta_description %}{{practice.meta_description}}{% endblock %}
{% block meta_keywords %}{{practice.meta_keywords}}{% endblock %}

{% block content %}
    {% with practice_object=practice %}
        {% if practice.address %}
            {% include "core/components/practice_detail.html" with section_title=practice.name h_val=1 %}
            {% include "core/components/practice_infos.html" %}
        {% endif %}

        {% if massages %}
            {% translate "Available massages" context "Practice Full massage block title" as block_title%}
            {% include "core/components/product_tiles.html" with section_title=block_title h_val=2 products=massages product_type="massage" %}
        {% endif %}
    {% endwith %}
    
{% endblock %}