{% extends "core/components/base.html" %}

{% block meta_title %}{{page.meta_title}}{% endblock %}
{% block meta_description %}{{page.meta_description}}{% endblock %}
{% block meta_keywords %}{{page.meta_keywords}}{% endblock %}
{% block meta_robots %}{% if page.meta_robots %}<meta name="robots" content="{{page.meta_robots}}">{% endif %}{% endblock %}

{% block content %}
    <section id="privilege">
        {{page.content|safe}}
        <div class="offer">
            <p>
                Mon massage <span class="name">« La parenthèse » (1H)</span> au prix de <span class="new-price">70€</span> (au lieu de <span class="default-price">80€</span>)
            </p>
            <a class="book" href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/reservation-mi-time/la-parenthese-1h-privilege'});return false;">Réserver</a><br>
        </div>
        <div class="offer">
            <p>
                Mon massage <span class="name">« La bulle » (45min)</span> au prix de <span class="new-price">65€</span> (au lieu de <span class="default-price">70€</span>)
            </p>
            <a class="book" href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/reservation-mi-time/la-bulle-45min-privilege'});return false;">Réserver</a>
        </div>
    </section>
{% endblock %}