{% extends "core/components/base.html" %}

{% load static i18n %}

{% block meta_title %}{{page.meta_title}}{% endblock %}
{% block meta_description %}{{page.meta_description}}{% endblock %}
{% block meta_keywords %}{{page.meta_keywords}}{% endblock %}

{% block content %}
    <section id="reservation">
    {% if massages or bundles or giftcards %}
        <h1>{% translate "Our services :" context "Reservation" %}</h1>
        {{page.text|safe}}
        {% if massages %}
            {% translate "Massages :" context "Reservation" as main_title %}
            {% include "core/components/product_tiles.html" with section_title=main_title h_val=2 h_id="available_massages" products=massages product_type="massage" %}
        {% endif %} 

        {% if giftcards %}
            {% translate "Giftcards :" context "Reservation" as main_title %}
            {% include "core/components/product_tiles.html" with section_title=main_title h_val=2 h_id="available_giftcards" products=giftcards product_type="giftcard" %}
        {% endif %}

        {% if bundles %}
            {% translate "Bundles :" context "Reservation" as main_title %}
            {% include "core/components/product_tiles.html" with section_title=main_title h_val=2 h_id="available_bundles" products=bundles product_type="bundle" %}
        {% endif %}
    {% else %}
        <p>{% translate "We are currently polishing our offer. Come back soon to see what we have cooked for you !" context "Product Tiles" %}</p>
    {% endif %}
    </section>
{% endblock %}