{% extends "core/mail/base.html" %}        

{% load static %}
{% load i18n %}
{% load core_extras %}

{% block content %} 
  <div style="font-family: 'Montserrat',sans-serif; font-size: 16px; color: #9e7f5e; line-height: 150%; text-align: justify; word-wrap: break-word;">
    <p style="line-height: 150%;">&nbsp;</p>
    <p style="line-height: 150%;"><span style="color: rgb(158, 127, 94); line-height: 24px;">Afin de confirmer votre demande de rendez-vous, veuillez rentrer ce code de v&eacute;rification :</span></p>
    <p style="line-height: 150%;">&nbsp;</p>
    <p style="line-height: 150%;text-align: center;"><span style="color: rgb(158, 127, 94); line-height: 24px;font-size: 24px; font-weight: 600;">{{verification_code}}</span></p>
    <p style="line-height: 150%;">&nbsp;</p>
    <p style="line-height: 150%;"><span style="color: rgb(158, 127, 94); line-height: 24px;">En cas de difficult&eacute; pour votre r&eacute;servation, vous pouvez nous contacter par t&eacute;l&eacute;phone au {{siteconfig.header_mobile}} ou par mail &agrave; cette adresse : {{siteconfig.site_email}}</span></p>
    <p style="line-height: 150%;">&nbsp;</p>
  </div>
{% endblock %} 
