{% extends "../components/base.html" %}

{% load core_extras %}

{% block content %}
    <section>
        <h2>Commande validée</h2>
        <p>
            Merci pour votre commande ! Elle sera traitée dans les plus bref délais.
        </p>
        <p>
            Les cartes cadeaux sont générées une fois le paiement validé, et sont envoyées habituellement sous 5 minutes.<br>
            En cas de non réception du mail, veuillez vérifier que le message n'a pas été filtré dans votre répertoire SPAM.
        </p>
        <p>
            Si toutefois il ne s'y trouvait pas, vous pouvez me contacter directement au <strong>07 83 39 06 80</strong> ou par mail à <strong>reservation@mi-time.fr</strong>.
        </p>
    </section>
{% endblock %}