<!doctype html>
<html lang="">
    {% load static %}
    {% load i18n %}
    <!-- Head -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Mi'time massages{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'core/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'core/assets/css/fontawesome/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'core/assets/css/fontawesome/solid.css' %}">
        <link rel="stylesheet" href="{% static 'core/assets/css/fontawesome/regular.css' %}">
        <link rel="stylesheet" href="{% static 'core/assets/css/fontawesome/brands.css' %}">
        <noscript><link rel="stylesheet" href="{% static 'core/assets/css/noscript.css' %}" /></noscript>

        <meta name="description" content="">

        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <meta property="og:image:alt" content="">

        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="icon.png">

        <link rel="manifest" href="site.webmanifest">
        <meta name="theme-color" content="#fafafa">
    </head>
    <body>
        <div id="wrapper">
            <!-- Header-->
            <header id="header">
                <div class="inner">
                    <div id="topmenu">
                        <!-- Logo -->
                        <a href="/" class="logo">
                            <!-- <span class="title">Mi'Time</span> -->
                            <img src="{% static 'core/img/logo-mitime.png' %}" />
                        </a>
                        <!-- Nav -->
                         <div class="infobloc responsivehide">
                            <span class="icon solid fa-phone iconified">07 83 39 06 80</span>
                        </div>
                        <div class="infobloc responsivehide">
                            <span class="icon solid fa-calendar-days iconified">Mercredis, Vendredis et Samedis</span>
                        </div>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li>
                                    <a href="#book" onclick="Calendly.initPopupWidget({ url: 'https://calendly.com/reservation-mi-time' });"><span class="responsivehide">Prendre </span>RDV</a>
                                </li>
                                <li>
                                    <a href="#menu">Menu</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <h3>Menu</h3>
                <ul>
                    {% block menulist %}
                        <li><a href="{% url 'index' %}">{% translate "Home" context "Menu link" %}</a></li>
                        <li><a href="{% url 'massages' %}">{% translate "Massages" context "Menu link" %}</a></li>
                        {% url 'practice' practices.first.slug as url_s %} 
                        {% url 'practices' as url_p %}
                        <li><a href="{%if practices|length > 1 %}{{url_p}}{% else %}{{url_s}}{% endif %}">{% blocktranslate count nbp=practices|length context "Menu Link" %}practice{% plural %}practices{% endblocktranslate %}</a></li>
                        <li><a href="{% url 'legal' %}">{% translate "Legal" context "Menu link" %}</a></li>
                    {% endblock %}
                </ul>
            </nav>

            <!-- Main-->
            <div id="main">
                <div class="inner">
                    {% block content %}
                    <header>
                        <h1>Mi-Time : Mireille prend soin de vous !</h1>
                    </header>
                    {% endblock %}
                </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    {% block footer %}
                    <section>
                        <h4>Message</h4>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field half">
                                    <input type="text" name="name" id="name" placeholder="Nom" />
                                </div>
                                <div class="field half">
                                    <input type="email" name="email" id="email" placeholder="Email" />
                                </div>
                                <div class="field">
                                    <textarea name="message" id="message" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Envoyer" class="primary" /></li>
                            </ul>
                        </form>
                    </section>
                    <section>
                        <h4>Réseaux</h4>
                        <ul class="icons">
                            <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                        </ul>
                        <h4>Contact</h4>
                        <ul class="icons">
                            <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
                            <li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                    </section>
                    <ul class="copyright">
                        <li>&copy; Mi'time. Tout droits reservés</li><li>Design: ALL</li>
                    </ul>
                    {% endblock %}
                </div>
            </footer>
        </div>

        <!-- Scripts -->
        {% load static %}
        <script src="{% static 'core/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'core/assets/js/browser.min.js' %}"></script>
        <script src="{% static 'core/assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'core/assets/js/util.js' %}"></script>
        <script src="{% static 'core/assets/js/main.js' %}"></script>
        <!-- Début de widget de badge Calendly -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <!-- Fin de widget de badge Calendly -->


    </body>
</html>