{% load static %}
{% load i18n %}
{% load core_extras %}

<section>
    {% if massages %}
        <h{{h_val|default:"2"}}>{{section_title}}</h{{h_val|default:"2"}}>
        <div class="tiles">
        {% for massage in massages %}
        <article class='{{massage.highlighted|yesno:"highlighted,default"}}'>
            <span" class="image">
                <img src="{{massage.tcover.url}}" alt="{{massage.name}}" />
            </span>
            <a href="{% url 'massage' massage_slug=massage.slug %}">
                <span class="title">
                    <h{{h_val|default:"2"|add:"1"}}>{{massage.name}}</h{{h_val|default:"2"|add:"1"}}>
                    <span class="icon regular fa-clock">
                        {{massage.duration|duration}}
                    </span>
                </span>
            </a>
        </article>
        {% endfor %}
        </div>
    {% else %}
    <p>{% translate "We are currently polishing our offer. Come back soon to see what we have cooked for you !" context "Massage Tiles" %}</p>
    {% endif %}
</section>