{% load i18n %}

<section>
    {% translate "Our practice" context "Practice detail block" as default_title %}
    <h{{h_val|default:"2"}}>{{section_title|default:default_title}}&nbsp;:</h{{h_val|default:"2"}}>
    <div class="practice-description">
        <div class="richtext">
            {{practice_object.text1|safe}}
        </div>
        <div class="carousel-wrapper bordered">
            <div class="carousel-container">
                <div class="carousel">
                    {% for k, v in practice_object.get_diapos.items %}
                        <img src="{{v.diapo}}" alt="{{v.alt}}" />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>