{% load i18n %}

<section>
    <!--<p><span class="icon solid fa-location-dot iconified">{{main_practice.address.getFormatedAddress}}</span></p>-->
    {% translate "Practical Informations" context "Practice map block" as default_title %}
    <h{{h_val|default:"2"}} id="find-us">{{section_title|default:default_title}}</h{{h_val|default:"2"}}>
    {% if practice_object.text2 %}
    <div class="richtext">
        {{practice_object.text2|safe}}
    </div>
    {% endif %}
    <div class="openings-and-map">
        <table class="openings">
            <thead>
                <tr>
                    <th></th>
                    {% translate "morning" context "Practice openings block" as mrng %}
                    {% translate "afternoon" context "Practice openings block" as aftrn %}
                    <th scope="col">{{ mrng|title }}</th>
                    <th scope="col">{{ aftrn|title }}</th>
                </tr>
            </thead>
            <tbody>
                {% for day, hours in practice_object.opening.getTimeTable.items %}
                    <tr>
                        <th scope="row">{{day|title}}</th>
                        {% if hours.0 == None %}
                        <td class="bordered-right">-</td>
                        {% else %}
                        <td class="bordered-right">{{hours.0|date:"H\hi"}} - {{hours.1|date:"H\hi"}}</td>
                            {% comment "Strip minutes when needed" %}
                                <td class="bordered-right">
                                    <!-- Minutes stripped version -->
                                    {% if hours.2|date:"i"|first != "0" %}
                                        {{hours.2|date:"H\hi"}}
                                    {% else %}
                                        {{hours.2|date:"H\h"}}
                                    {% endif %}
                                    -
                                    {% if hours.3|date:"i"|first != "0" %}
                                        {{hours.3|date:"H\hi"}}
                                    {% else %}
                                        {{hours.3|date:"H\h"}}
                                    {% endif %}
                                </td>
                                {% endcomment %}
                        {% endif %}
                        {% if hours.2  == None %}
                        <td class="bordered-right">-</td>
                        {% else %}
                        <td class="bordered-right">{{hours.2|date:"H\hi"}} - {{hours.3|date:"H\hi"}}</td>
                            {% comment "Strip minutes when needed" %}
                            <td class="bordered-right">
                                <!-- Minutes stripped version -->
                                {% if hours.2|date:"i"|first != "0" %}
                                    {{hours.2|date:"H\hi"}}
                                {% else %}
                                    {{hours.2|date:"H\h"}}
                                {% endif %}
                                -
                                {% if hours.3|date:"i"|first != "0" %}
                                    {{hours.3|date:"H\hi"}}
                                {% else %}
                                    {{hours.3|date:"H\h"}}
                                {% endif %}
                            </td>
                            {% endcomment %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <iframe class="bordered" width="748" height="410" load="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:{{practice_object.address.place_id|default:'ChIJsZ3dJQevthIRAuiUKHRWh60'}}&key={{gmap_api_key}}"></iframe>
    </div>
</section>
{% if practice_object.text3 %}
<section>
    <h{{h_val|default:"2"}}></h>{% translate "Directions" context "Practice detail block" %}</h{{h_val|default:"2"}}>
        <div class="richtext">
            {{practice_object.text3|safe}}
        </div>
</section>
{% endif %}