{% load i18n %}
<section>
    {% translate "Availabilities" context "Practice openings block" as default_title %}
    <h{{h_val|default:"2"}}>{{section_title|default:default_title}}&nbsp;:</h{{h_val|default:"2"}}>
    <table class="openings">
        <thead>
            <tr>
                <th></th>
                {% translate "morning" context "Practice openings block" as mrng %}
                {% translate "afternoon" context "Practice openings block" as aftrn %}
                <th scope="col">{{ mrng|title }}</th>
                <th scope="col">{{ aftrn|title }}</th>
            </tr>
        </thead>
        <tbody>
            {% for day, hours in practice.opening.getTimeTable.items %}
                <tr>
                    <th scope="row">{{day|title}}</th>
                    {% if hours.0 == None %}
                    <td class="bordered-right">-</td>
                    {% else %}
                    <td class="bordered-right">{{hours.0|date:"H\hi"}} - {{hours.1|date:"H\hi"}}</td>
                    {% endif %}
                    {% if hours.2  == None %}
                    <td class="bordered-right">-</td>
                    {% else %}
                    <td class="bordered-right">{{hours.2|date:"H\hi"}} - {{hours.3|date:"H\hi"}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>